{% extends 'main/layout.html' %}

{% block title %}
    Account page
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    <li class="nav-item p-2">
        <a class="nav-link border border-primary" href="{% url 'user_logout' %}">Выйти</a>
    </li>
    </ul>
    </header>

    <div class="container d-flex  flex-row">
        <div class="container mb-5">
            <h2>Информация о пользователе</h2>
            <div class="info_user">
                <h5>ФИО:</h5>
                <p>{{ request.user.last_name }} {{ request.user.first_name }} {{ request.user.middle_name }}</p>
            </div>
            <div class="info_user">
                <h5>Роль:</h5>
                <p>{{ request.user.roles }}</p>
            </div>
            <div class="info_user">
                <h5>Университет:</h5>
                <p>{{ request.user.universities }}</p>
            </div>
            <div class="info_user">
                <h5>Институт:</h5>
                <p>{{ request.user.institute }}</p>
            </div>
            <div class="info_user">
            <h5>Направление подготовки:</h5>
                <p>{{ request.user.groups.direction.code }}
                    {{ request.user.groups.direction.name }}</p>
            </div>
            <div class="info_user">
                <h5>Группа:</h5>
                <p>{{ request.user.groups }}</p>
            </div>
        </div>

        <div class="container">
            <h2>Информация об интенсивах</h2>
            <p>Ваши интенсивы:</p>
            <ul class="list-group-flush intensives">
            {% for intensive in intensives %}
                <li class="list-group-item">
                    <a href="{% url 'intensive-detail' pk=intensive.pk %}">{{ intensive.name }}</a>
                </li>
            {% endfor %}
            </ul>

            <form method="post" action="{% url 'create_intensive' %}">
                {% csrf_token %}
                {% if request.user.roles.pk == 1 %}
                    <button class="btn btn-primary m-3" type="submit">Создать новый интенсив</button>
                {% endif %}
            </form>

            {% else %}

            </ul>
            </header>
                <h2>Пожалуйста, <a href="{% url 'user_login' %}">Войдите</a> в свой аккаунт.</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}