{% extends 'main/layout.html' %}

{% block title %}
{% endblock %}

{% block content %}
    </ul>
    </header>
    <div class="container">
        <h2>Создать задание</h2>
        <form method="post" action="{% url 'create_task' intensive_id=intensive.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary m-3"  type="submit">Создать задание</button>
        </form>
    </div>
{% endblock %}
