{% extends 'main/layout.html' %}

{% block title %}
{% endblock %}

{% block content %}
    </ul>
    </header>
    <div class="container">
        <h2>Создание интенсива</h2>
        <form method="post" action="{% url 'create_intensive' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary m-3" type="submit">Создать Интенсив</button>
        </form>
    </div>
{% endblock %}
