{% extends 'main/layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    </ul>
    </header>

    <div class="container">
        <h1>{{ title }}</h1>
        {% if request.user.is_authenticated %}
        <h2>Здравствуйте, {{ request.user.first_name }} {{ request.user.middle_name }}!</h2>
    </div>
        {% else %}
        <h2>Ввойдите в аккаунт</h2>
{% endif %}
{% endblock %}
