{% extends 'main/layout.html' %}

{% block title %}
    {{ intensive.name }}
{% endblock %}

{% block content %}
    </ul>
    </header>
    <div class="container">
        <h2>{{ intensive.name }} </h2>
        <p>{{ intensive.description }}</p>

        {% if tasks %}
        <h4>Текущие задания </h4>
        <ul class="list-group-flush intensives">
            {% for task in tasks %}
                 <li class="list-group-item"><a href="{% url 'task-detail' task.pk %}">{{ task.name }}</a></li>
            {% endfor %}
        </ul>
         {% endif %}

        {% if request.user.roles.pk == 1 %}
        <form method="post" action="{% url 'create_task' intensive_id=intensive.id %}">
            {% csrf_token %}
            <button class="btn btn-primary m-3"  type="submit">Добавить задание</button>
        </form>
            {% endif %}
    </div>



{% endblock %}
