{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <header class="d-flex flex-wrap justify-content-end py-1 mb-3 border-bottom">

      <ul class="nav nav-pills">
        <li class="nav-item p-2"> <a class="nav-link" href="{% url 'main' %}">Главная</a></li>
        <li class="nav-item p-2"> <a class="nav-link" href="{% url 'account' %}">Аккаунт</a></li>


    {{ acc }}
    {% block content %}
    {% endblock %}
</body>
</html>
