{% extends 'main/layout.html' %}

{% block title %}
    Obtain Token
{% endblock %}

{% block content %}
    </ul>
    </header>

    <div class="container">
        <h2>Авторизация</h2>

        <form method="post" action="{% url 'user_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary m-3"  type="submit">Войти</button>
        </form>
    </div>
{% endblock %}
