{% extends 'main/layout.html' %}

{% block title %}
    {{ task.name }} Details
{% endblock %}

{% block content %}

    </ul>
    </header>
 <div class="container">
        <a href="{% url 'intensive-detail' pk=task.intensive.pk %}">Назад</a>
        <h2>{{ task.name }}</h2>
        <p>Описание задания: {{ task.description }}</p>
        <p>Срок сдачи: {{ task.deadline }}</p>

        {% if response %}
    <p>Ваш ответ: {{ response.response_text }}</p>

    <form method="post" action="{% url 'task-response' task_id=task.pk %}">
        {% csrf_token %}
        {{ response_form.as_p }}
        <button class="btn btn-primary m-3" type="submit">Редактировать ответ</button>
    </form>
{% else %}
    <p>Вы не предоставили ответ</p>

    <form method="post" action="{% url 'task-response' task_id=task.pk %}">
        {% csrf_token %}
        {{ response_form.as_p }}
        <button class="btn btn-primary m-3" type="submit">Добавить ответ</button>
    </form>
{% endif %}
 </div>

{% endblock %}
